<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/handlebars/handlebars.js"></script>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./public/style.css">

  </head>
  <body>
    <form class="form-inline">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="for-control">
      </div>
    </form>
  </body>
</html>
