.createWrapper{
  width: 30%;
  height: 30%;
  background-color: green;
  margin: 5% 33%;
  border-radius: 15px;
  padding: 10px;
}

img{
  height: 150px;
  width: 150px;
}

.memory{
  text-align: center;
}
